html {
    scroll-behavior: smooth;

}

* {
    font-family: "Poppins";
}

html {
    scroll-padding-top: 8%;
}



body {
    min-height: 100dvh;
    margin: 0;
    padding: 0;
    background: linear-gradient(141deg, #0fb8ad 0%, #5acfdc 51%, #2cb5e8 80%);

}


#header {
    font-family: "radley";
    color: white;
    font-size: 1.2rem;
    background: rgba(0, 0, 0, 0.2);
    backdrop-filter: blur(6px);
    position: fixed;
    height: 13%;
    display: flex;
    min-width: 100%;
    flex-grow: 30ch;
}


#header img {
    flex-basis: 10dvh;

}



#school {
    display: flex;
    flex-basis: 50%;
    align-items: center;
}



#pindutan {
    display: flex;
    list-style-type: none;
    flex-basis: 50%;
    justify-content: end;
    align-items: center;
    font-size: 125%;
    padding-right: 20px;
}

#pindutan li {
    display: inline;
    padding: 1rem;



}

#pindutan li:hover {
    background-color: rgba(255, 255, 255, 0.297);
    cursor: pointer;
}

#header * {
    font-family: "radley";

}

#header nav li a:link {
    text-decoration: none;
    color: white;
    padding: 1rem;

}

#header nav li a:visited {
    color: white;
}

#home {
    height: 100dvh;
    width: 100%;
    background-image: url("/home/building.png");
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    font-family: "Poppins", sans-serif;
}

#homeContent {
    text-align: center;
    width: 70%;
}

#homeContent h1 {
    line-height: 4.7rem;
    font-size: 5rem;
}

#homeContent p {

    font-size: 1.4rem;

}


#orgChart {
    height: 100dvh;
    width: 100%;
    /* background-color: brown; */
    margin: 0;
    padding: 0;
}

#strand {
    height: 100dvh;
    width: 100%;
    background-color: white;
    margin: 0;
    padding: 0;
    list-style: none;
    display: flex;
    align-items: center;
    /* background-image: url('StrandBG.jpg'); */
    background-size: cover;
    

}


#strand #pindutanSaStrand {
    display: flex;
    min-height: 90%;
    min-width: 12%;
    align-items: center;
    color: white;

}


#strand #pindutanSaStrand aside li{
    margin: 0;
    padding: 0;
}

#strand #pindutanSaStrand aside li button {
    color: black;
    text-decoration: none;

    margin: 5%;
    padding: 10%;
    width: 160%;
    text-align: center;
    display: block;
    font-size: 154%;
    background-color: #D9D9D9;
    border: none;
}


/* #strand *{
    border: 2px black solid;
} */

 
#strand #infoAboutStrand {
    margin-left: 4%;
    width: 75%;
    height: 80%;
    border-radius: 30px;
    overflow: hidden;

}
#infoAboutStrand nav{
    display: flex;
    justify-content: center;
    width: 100;
    
}

#infoAboutStrand nav li{
    display: flex;
    flex-basis: 50%;
    margin: 0;
    overflow: hidden;
    
}
#infoAboutStrand nav li button{
    text-decoration: none;
    color: white;
    display: flex;
    flex-grow: 1;
    justify-content: center;
    align-items: center;
    padding: 10%;
    background-color: #dc5a5a00;
    border: none;
    cursor: pointer;
    font-size: 130%;
    height: 20%;
    border-radius: 30px;    
}



#infoAboutStrand nav li button:hover{
    cursor: pointer;
    
}

#strand #infoAboutStrand ul{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    row-gap: 1%;
    margin: 0;
}


#strand #infoAboutStrand ul li{
    color: white;
    font-size: 140%;
}
#strand p{
    color: white;
    text-align: center;
    margin: 3% 2% 2% 2%;
    font-size: 130%;
    
}
#strand img{
    width: 10%;
    margin-top: 2%
}
.infos{
    display: flex;
    flex-direction: column;
    align-items: center;
}

#gasInfo button{
    background-color: #B52412;
}

#gasInfo {
    background: url('strand/red.png');
    background-size: cover;
    width: 100%;
    height: 100%;
   
}
#humsInfo {
    background: url('strand/green.png');
    background-size: cover;
    width: 100%;
    height: 100%;
   
    
}

#abmInfo {
    background: url('strand/yellow.png');
    background-size: cover;
    width: 100%;
    height: 100%;
    
    
}

#stemInfo {
    background: url('strand/blue.png');
    background-size: cover;
    width: 100%;
    height: 100%;
    

}

#tvlictInfo {
    background-image: url("strand/gray.png");
    background-size: cover;
    width: 100%;
    height: 100%;
   

}

#tvlheInfo {
    background-image: url("strand/purple.png");
    background-size: cover;
    width: 100%;
    height: 100%;
    
}

#adInfo {
    background: url("strand/pink.png");
    background-size: cover;
    width: 100%;
    height: 100%;
    

}


#FAQ {
    height: 100dvh;
    width: 100%;
    margin: 0;
    padding: 0;
}